<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>carritoCompras</display-name>
  <welcome-file-list>
    <welcome-file>principal.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>carritoCompras.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>insertar campos de registro</description>
    <display-name>insertar</display-name>
    <servlet-name>insertar</servlet-name>
    <servlet-class>carritoCompras.controller.insertar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertar</servlet-name>
    <url-pattern>/insertar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertar</display-name>
    <servlet-name>Insertar</servlet-name>
    <servlet-class>carritoCompras.db.Insertar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertar</servlet-name>
    <url-pattern>/Insertar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comprar</display-name>
    <servlet-name>Comprar</servlet-name>
    <servlet-class>carritoCompras.db.Comprar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comprar</servlet-name>
    <url-pattern>/Comprar</url-pattern>
  </servlet-mapping>
</web-app>